
*
{
	position: relative;
	box-sizing: border-box;
}

a
{
	color: rgb(50,50,50);
	text-decoration: none;
	transition-duration: 0.5s;
	cursor: pointer;
}

a,
a:hover,
a:active,
a:focus 
{
	outline: 0;
	border: none;
	text-decoration: none;
}

html
{
	margin: 0;
	#overflow: hidden;
	
	
	background: rgba(245,243,231,1);
	background: -moz-linear-gradient(-45deg, rgba(245,243,231,1) 0%, rgba(218,218,222,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(245,243,231,1)), color-stop(100%, rgba(218,218,222,1)));
	background: -webkit-linear-gradient(-45deg, rgba(245,243,231,1) 0%, rgba(218,218,222,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(245,243,231,1) 0%, rgba(218,218,222,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(245,243,231,1) 0%, rgba(218,218,222,1) 100%);
	background: linear-gradient(135deg, rgba(245,243,231,1) 0%, rgba(218,218,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f3e7', endColorstr='#dadade', GradientType=1 );
}

body
{
	width: 100%;
	margin: 0;
	background-image: url('../img/Silver-Blur-Background-Wallpaper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: rgb(75,75,75);
    #font-family: 'Orbitron', sans-serif;
	#font-family: 'Electrolize', sans-serif;
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
	min-width: 700px;
}

p
{
	text-indent: 20px;
}

ul
{
	margin-bottom: 15px;
	margin-top: 15px;
	list-style-type: none;
}

li
{
	margin-bottom: 5px;
}

li:before
{
	content: "\2771 \020";
	top: -1px;
	position: relative;
}

li li:before
{
	content: "\00BB \020";
	top: -2px;
	position: relative;
}

fieldset
{
	border: 0;
}

.content
{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: block;
}

.header
{
	width: 60%;
	height: 100px;
	display: block;
	position: relative;
	z-index: 2;
	padding: 10px;
	margin: 0px auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.navbar
{
	width: 100%;
	display: block;
}

.media-bar
{
	position: absolute;
	display: block;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0%);
	bottom: 20px;
	text-align: center;
}

.media-bar img
{
	max-width: 20%;
}

.breadcrumbs
{
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 10px;
	color: rgb(150,150,150);
	padding: 10px;
	font-size: 110%;
	z-index: 999;
}

.breadcrumbs a
{
	color: inherit;
}

.centerCol
{
	transition-duration: 1s;
	position: relative;
	width: 60%;
	#height: calc(100vh - 100px);
	min-height:100vh;
	display: block;
	margin: 0px auto;
	z-index: 0;
	background-color: rgba(255,255,255, 0.3);
	#box-shadow: -5px 5px 10px 0px rgba(50,50,50,1);
	padding: 30px;
	padding-top: 10px;
	overflow-x: hidden;
}

.left-bio
{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.3)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=1 );

	position:fixed;
	left:5%;
	top:0;
	width:15%;
	text-align:right;
	padding:10px;
	height:100vh;
	transition-duration:1s;
	overflow:hidden;
	z-index:99;
}

.top-bio
{
	top:-200px;
	position:relative;
	width: 60%;
	margin: 0px auto;
	padding:10px;
	text-align:left;
	display:none;
	transition-duration:1s;
	background-color: rgba(255,255,255, 0.3);
}

.right-bio
{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 );

	position:fixed;
	right:5%;
	top:0;
	width:15%;
	text-align:left;
	padding:10px;
	height:100vh;
	transition-duration:1s;
}

.name
{
	display:inline-block;
}

@media all and (max-width: 1220px)
{
	.centerCol
	{
		width: 100%;
		top:unset;
	}
	
	.top-bio
	{
		top:0px;
		width: 100%;
		display:block;
	}
	
	.left-bio
	{
		left:-400px;
	}
	
	.right-bio
	{
		right:-400px;
	}
}

.nav-header
{
	color: rgb(150,150,150);
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 90%;
	width: 100%;
}

.nav-header:first-child
{
	margin-top: 0px;
}

.nav-category
{
	width: 100%;
}

.nav-entry
{
	padding-left: 25px;
	margin-bottom: 5px;
	font-weight: bold;
	width: 100%;
	color: rgb(215,215,215);
	transition-duration: 0.5s;
}

.nav-entry:hover
{
	color: rgb(50,90,130);
}

.nav-entry .title
{
	cursor: pointer;
	transition-duration: 0.5s;
	color: rgb(215,215,215);
}

.nav-entry .title:hover
{
	color: rgb(50,90,130);
}

.nav-sub
{
	padding-left: 15px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

.nav-sub .nav-entry
{
	padding-left: 0px;
}

.collapsed .after
{
	position: absolute;
	top: 0;
	left: 85%;
}

.expanded .after
{
	position: absolute;
	top: 0;
	left: 85%;
	color: rgba(255,255,255,0.3);
	transform: rotate(180deg);
}

.active-nav-category
{
}

.active-nav-entry
{
	padding-left: 20px;
	border-left: 5px solid rgb(9,54,90);
}

.vertical-text
{
	transform: rotate(-90deg) translate(-90%, 25%);
	transform-origin: left center;
	margin: 0px;
	padding: 0px;
	position:absolute;
}

.vertical-text-reversed
{
	transform: rotate(90deg) translate(-5%, 100%);
	transform-origin: right center;
	margin: 0px;
	padding: 0px;
	position:absolute;
}

.vertical-text-reversed2
{
	transform: rotate(90deg) translate(-10%, 0%);
	transform-origin: left center;
	margin: 0px;
	padding: 0px;
	position:absolute;
}

.inset-text 
{
    /* Shadows are visible under slightly transparent text color */
    color: rgba(0, 0, 0, 0.35);
	text-shadow: rgba(255, 255, 255, 0.9) 2px 2px 1px;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

.uppercase
{
	text-transform: uppercase;
}

button, input, select, textarea 
{
    color: #222;
}

button, input 
{
    line-height: normal;
}

.main-font
{
	font-family: 'Montserrat', sans-serif;
}

button, input, select, textarea 
{
    margin: 0px;
    vertical-align: baseline;
	font-family: 'Montserrat', sans-serif;
}

button, input[type="submit"]
{
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(22, 42, 63, 0.8);
    #font-size: 18px;
    color: #355E78; 
    padding: 10px;
	transition-duration: 0.5s;
}

button: hover, input[type="submit"]: hover
{
	border: 1px solid #5897fb;
	color: #5897fb;
}

select 
{
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(22, 42, 63, 0.8);
    font-size: 12px;
    color: #355E78;
    width: 40%;
    padding: 10px 5px;
    padding-right: 2px;
    box-sizing: border-box;
    transition: all 0.2s ease 0s !important;
}

input[type="text"], input[type="password"], input[type="number"], textarea
{
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(40, 60, 80);
    font-size: 12px !important;
    color: #608099;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    transition: all 0.2s ease 0s !important;
    text-align: center;
	
    letter-spacing: 2px;
}

input[type="number"]: :-webkit-inner-spin-button, 
input[type="number"]: :-webkit-outer-spin-button 
{ 
  -webkit-appearance: none;
  display: none;
  margin: 0; 
}

input[type="number"]
{
	-moz-appearance: textfield;
}

input, textarea
{
    outline: medium none;
}

input: focus, textarea: focus
{
	border: 1px solid #5897fb;
}

input: disabled, textarea: disabled
{
	border: 1px solid rgb(50,50,50);
	color: rgb(50,50,50);
	background-color: rgba(20,20,20,0.4);
}

textarea
{
	text-align: left;
}


.button
{
	background-color: rgb(175,175,175);
	border-radius: 5px;
	transform: skewX(-15deg);
	display: inline-block;
	border: 2px solid rgb(50,50,50);
	left: 8px;
	top: 0px;
	margin: 5px;
	transition-duration: 0.2s;
	box-shadow: 8px 8px 5px rgb(50,50,50);
}

.button:hover
{
	background-color: rgb(210,210,210);
	border: 2px solid rgb(75,75,75);
	top: -5px;
	box-shadow: 10px 13px 10px rgb(50,50,50);
}

.button .text
{
	width: 100%;
	padding: 15px;
	color: rgb(25,50,75);
	transform: skewX(15deg);
	font-size: 120%;
	font-weight: bold;
}






input[type=checkbox].css-checkbox 
{
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox + label.css-label 
{
	padding-left: 24px;
	height: 19px; 
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 17px;
	vertical-align: middle;
	cursor: pointer;

}

input[type=checkbox].css-checkbox: checked + label.css-label 
{
	background-position: 0 -19px;
}

label.css-label 
{
	background-image: url(/internal/archub/assets/img/checkboxes.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}





.ui-accordion-header i
{
    width: 18px;
}

.ui-accordion-header .title
{
    width: 87%;
    text-align: center;
    display: inline-block;
	transition-duration: 1s;
	overflow: hidden;
}

.ui-accordion-content i
{
	position: relative;
    top: -5px;
	width: 18px;
    text-align: center;
}

.ui-accordion-content .title
{
    width: calc(100% - 18px);
    text-align: center;
    display: inline-block;
	transition-duration: 1s;
	overflow: hidden;
}

.ui-icon
{
    #display: inline-block;
}

.ui-accordion .ui-accordion-content
{
    padding: 10px;
	font-size: 12px;
}

.ui-accordion .ui-accordion-icons 
{
    padding-left: 17px;
	margin-top: 10px;
}

.ui-accordion .ui-accordion-icons: first-child
{
	margin-top: 0px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon
{
    left: 0px;
}


































.circle 
{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 
{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse 
{
    0% 
	{
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% 
	{
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% 
	{
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse 
{
    0% 
	{
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse 
{
    0% 
	{
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% 
	{
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% 
	{
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse 
{
    0% 
	{
        -webkit-transform: rotate(0deg);
    }

    100% 
	{
        -webkit-transform: rotate(360deg);
    };
}