
.box-wrapper
{
	left: -30px;
	width: calc(100% + 60px);
	margin-bottom: 10px;
	transition-duration: 0.3s;
	cursor: pointer;
	border: 3px solid rgba(25,25,25, 0.7);
	border-top: 0;
	opacity: 0;
}

.box-wrapper:after
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:99;
	position: absolute;
	opacity: 0.5;
}

.box,
.right-box
{
	width: 100%;
	height: 50px;
	z-index: 3;
	overflow: hidden;
}

.box .inner,
.right-box .inner
{
	height: 100%;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
	transition-duration: 0.3s;
	box-shadow: 5px 5px 5px 0px rgba(50,50,50, 0.7);
	z-index: 1;
	position: absolute;
	border: 3px solid rgba(25,25,25, 0.7);
	border-bottom: 0px;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: rgb(225,225,225);
}

.box .inner
{
	transform: skewX(15deg);
}

.right-box .inner
{
	transform: skewX(-15deg);
}

.box .inner0,
.right-box .inner0
{
	left: -10px;
	width: 6%;
}

.box .inner1,
.right-box .inner1
{
	left: 6%;
	width: 2%;
}

.box .inner2,
.right-box .inner2
{
	left: 9%;
	width: 2%;
}

.box .inner3,
.right-box .inner3
{
	left: 12%;
	width: 76%;
}

.box .inner4,
.right-box .inner4
{
	left: 89%;
	width: 2%;
}

.box .inner5,
.right-box .inner5
{
	left: 92%;
	width: 2%;
}

.box .inner6,
.right-box .inner6
{
	left: 95%;
	width: 6%;
}

.box .inner .content,
.right-box .inner .content
{
	width: 49vw;
	height: 100%;
	display: inline-block;
	transition-duration: 0.3s;
	#background-color: rgba(0,0,0,0.125);
	#color: rgb(230,230,230);
	color: rgb(25,50,75);
	font-size: 270%;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow:
	   -2px -2px 0 rgb(230,230,230),  
		2px -2px 0 rgb(230,230,230),
	   -2px  2px 0 rgb(230,230,230),
		2px  2px 0 rgb(230,230,230),
		
		3px  3px 4px rgb(0,0,0);
}

.box .inner .content
{
	transform: skewX(-15deg);
	left: -128px;
	padding-right: 50px;
}

.right-box .inner .content
{
	transform: skewX(15deg);
	left: 65px;
	padding-left: 50px;
}

.box .inner .content:after,
.right-box .inner .content:after
{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	transition-duration: 0.3s;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -100px 0px;
	background-position: -119px -1px;
	background-position: -116px -1px;
	opacity: 0.6;
}


.right-box .inner .content:after
{
	background-position: 119px -1px;
	background-position: 116px -1px;
}

.summary
{
	width: 100%;
	padding: 15px;
	padding-bottom:20px;
	background-color: rgb(225,225,225);
	color: rgb(25,50,75);
	font-size: 150%;
	font-weight: bold;
	transition-duration: 0.3s;
	z-index: 2;
	border-top: 3px solid rgba(25,25,25, 0.7);
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	top: -3px;
	text-shadow:
	   -1px -1px 0 rgb(230,230,230),  
		1px -1px 0 rgb(230,230,230),
	   -1px  1px 0 rgb(230,230,230),
		1px  1px 0 rgb(230,230,230),
		
		2px    2px   2px rgb(0,0,0);
}

.summary:before
{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: calc(100% + 3px);
	position: absolute;
	z-index: -1;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(233,233,233,0.74) 57%, rgba(217,217,217,0.74) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(57%, rgba(233,233,233,0.74)), color-stop(100%, rgba(217,217,217,0.74)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(233,233,233,0.74) 57%, rgba(217,217,217,0.74) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(233,233,233,0.74) 57%, rgba(217,217,217,0.74) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(233,233,233,0.74) 57%, rgba(217,217,217,0.74) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(233,233,233,0.74) 57%, rgba(217,217,217,0.74) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0 );
}

.summary:after
{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: calc(100% + 3px);
	position: absolute;
	z-index: -2;
	transition-duration: 0.3s;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
}

.left-summary:after
{
	background-position: 18.4px 0.5px;
	background-position: 0% 0%;
}

.right-summary:after
{
	background-position: -221px 0px;
	background-position: 0% 0%;
}

.featured-bar
{
	position:absolute;
	z-index:10;
	background-color:rgb(104, 196, 139);
	text-align:center;
	color:rgb(20,20,20);
	display:none;
	padding-bottom:3px;
}

.categories-bar
{
	position:absolute;
	z-index:10;
	bottom:0px;
	left:0px;
	background-color:rgb(153, 179, 178);
	width:100%;
	text-align:center;
	color:rgb(20,20,20);
	padding-bottom:2px;
	font-size:80%;
}