
.portfolio-entry-wrapper
{
	width: 100%;
	margin-bottom: 60px;
	transition-duration: 0.3s;
	cursor: pointer;
	border: 3px solid rgb(25,25,25);
	border-radius: 3px;
	min-height:150px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.portfolio-entry-wrapper:after
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:99;
	position: absolute;
	opacity: 0.5;
	box-shadow: inset 0px 0px 10px 10px rgba(0,0,0, 0.75);
}

.portfolio-entry
{
	width: 100%;
	height: 60px;
	z-index: 3;
	overflow: hidden;
}

.portfolio-entry .inner
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
	transition-duration: 0.3s;
	z-index: 1;
	position: absolute;
	background: rgba(255,255,255,0.4);
}

.portfolio-entry .inner .content
{
	width: 100%;
	height: 100%;
	display: inline-block;
	transition-duration: 0.3s;
	color: rgb(50,75,100);
	font-size: 270%;
	font-weight: bold;
	letter-spacing: 5px;
	padding-top:10px;
	text-shadow:
	   -2px -2px 0 rgb(230,230,230),  
		2px -2px 0 rgb(230,230,230),
	   -2px  2px 0 rgb(230,230,230),
		2px  2px 0 rgb(230,230,230),
		
		3px  3px 4px rgb(0,0,0);
}

.summary
{
	width: 100%;
	padding: 15px;
	padding-bottom:40px;
	padding-top:40px;
	color: rgb(50,75,100);
	font-size: 170%;
	font-weight: bold;
	transition-duration: 0.3s;
	background: rgba(255,255,255,0.4);
	z-index: 2;
	top: 0px;
	bottom: 0px;
	position:relative;
	text-shadow:
	   -1px -1px 0 rgb(230,230,230),  
		1px -1px 0 rgb(230,230,230),
	   -1px  1px 0 rgb(230,230,230),
		1px  1px 0 rgb(230,230,230),
		
		2px    2px   2px rgb(0,0,0);
}

.featured-bar
{
	position:absolute;
	z-index:10;
	background-color:rgb(104, 196, 139);
	text-align:center;
	color:rgb(20,20,20);
	display:none;
	padding-bottom:3px;
	top:1px;
	right:0px;
	z-index:100;
}

.categories-bar
{
	position:absolute;
	z-index:10;
	bottom:0px;
	left:0px;
	background-color:rgb(153, 179, 178);
	width:100%;
	text-align:center;
	color:rgb(20,20,20);
	padding-bottom:2px;
	font-size:80%;
	z-index:100;
}

.portfolio-entry-wrapper:hover .portfolio-entry .inner,
.portfolio-entry-wrapper:hover .summary
{
	background-color:transparent;
}