
# Bubbly Load Animation
# Author: Stephen Zuniga 
# http://codepen.io/stezu/details/mtvIa/

.bubble-loader {
  display: inline-block;
  margin-top: 25px;
}
.bubble-loader div {
  animation: bubble 1100ms forwards infinite;
  background: #0cffff;
  border-radius: 50%;
  box-shadow: 0 0 8px #0abab5;
  display: inline-block;
  height: 10px;
  margin: 6px;
  transform: scale(0, 0);
  width: 10px;
}
.bubble-loader div:nth-child(2), .bubble-loader div:nth-child(4) {
  animation-delay: 125ms;
}
.bubble-loader div:nth-child(1), .bubble-loader div:nth-child(5) {
  animation-delay: 250ms;
}

@keyframes bubble {
  0% {
    transform: scale(0, 0);
  }
  12% {
    transform: scale(1.5, 1.5);
  }
  23% {
    transform: scale(0.5, 0.5);
  }
  34% {
    transform: scale(1.2, 1.2);
  }
  45% {
    transform: scale(1, 1);
  }
  85% {
    transform: scale(0, 0);
  }
}


#preloader
{
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgb(100,100,100);
}

.socket
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 200px;
    height: 52px;
    margin: auto;
	text-align:center;
	transform:scale(1.5,1.5);
}